# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @CyberPartyZan

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# Backend
#/api/           @CyberTestOrg/backend-team

# Frontend
#/frontend/      @CyberTestOrg/frontend-team

# DevOps
#/.github/       @CyberTestOrg/devops-team
#/docker/        @CyberTestOrg/devops-team

# Database
#/migrations/    @CyberTestOrg/database-team

# Specific file
#/appsettings.json   @CyberTestOrg/tech-lead