#root {
  text-align: center;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

input,
select {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  height: 40px;
  padding: 0.3em 0.6em;
}

.main > main,
.main > header,
.main > footer {
  padding: 0 300px;
}
