.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  min-height: calc(100vh - 50px - 50px);
}

.lot-category {
  text-align: start;
}

.lot-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
